.beflex-entete {
	font-size: 22px;
	color: rgba(0,0,0,0.4);
	font-weight: 100;
}
.button.primary {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	transition: all 0.2s ease-out;
	font-size: 12px;
	line-height: 1;
	padding: 0.8em 1.4em;
	border-width: 3px;
	border-style: solid;

	background: #0e6eff;
	border-color: #0e6eff;
	color: #fff;
}
p {
	font-family: 'Open Sans';
	font-size: 14px;
}
