/**
 * Style CSS de bfs-course-lesson
*/
.bfs-course-lesson {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}
.bfs-course-lesson .bfs-course-lesson__icon {
  width: 16px;
  vertical-align: text-top;
}
.bfs-course-lesson span {
  vertical-align: text-bottom;
}