.page-numbers {
	margin: 2em 0 !important;
	list-style-type: none;
	text-align: center;

	&:after {
		display: block;
		content: '';
		clear: both;
	}
	li {
		display: inline-block;
		margin: 0 0.4em;
	}
	.page-numbers {
		display: inline-block;
		padding: 0.4em 0.6em;
		margin: 0 !important;
		border-right: 1px solid rgba(0,0,0,0.2);
		border-bottom: 1px solid rgba(0,0,0,0.2);
		font-weight: 700;
	}
}

.post-navigation {
	.nav-links a {
		text-transform: uppercase;
		font-weight: 700;
	}
	.nav-links .fa {
		background: $color__primary;
		color: #fff;
		border-radius: 50%;
		display: inline-block;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
