// Modal
.wpsjq-modal-opened {
	overflow: auto !important;
}

// Boutons
body [class*="wps-bton-first"], body [class*="wps-bton-second"] {
	text-transform: uppercase;
	font-weight: 700;
	@include font-size(0.8);
	@include transition();
	line-height: 1;
	padding: 0.8em 1.4em;
	border-radius: 0 !important;
	i {
		padding-right: 8px;
	}
}

// Liste Flexbloc
.flexible-bloc, #secondary {
	.bloc {
		.bloc-title a {
			color: $color__text-main;
		}
		.wps-product-section {
			display: none;
		}
		.bloc-price {
			font-weight: 800;
		}
	}
}

// Single
.single-wpshop_product {
	.entry-title {
		margin-top: 0;
		&:after {
			display: none;
			content: '';
		}
	}
}
