/*--------------------------------------------------------------
## Button
--------------------------------------------------------------*/

.wp-block-button {
  .wp-block-button__link {
    transition: opacity 0.2s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }

  &.is-style-outline {
    .wp-block-button__link {
      padding: calc(0.6em - 2px) calc(1em - 2px);
    }
  }
}
