.wp-block-buttons {
  .bf-button__style-outline {
    background-color: transparent;
    padding: calc(0.6em - 2px) calc(1em - 2px);
    border: 2px solid;
  }

  .bf-button {
    display: inline-block;
    border-radius: 4px;
    font-size: var(--wp--preset--font-size--normal);
    box-shadow: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    word-break: break-word;
    box-sizing: border-box;
  }
}
