/*--------------------------------------------------------------
## Query background
--------------------------------------------------------------*/

.wp-block-query .wp-block-cover.query-background {
   .wp-block-post-featured-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -1;
     opacity: 0.6;
  }
}
