body.single-course, body.single-lesson {
  #header-page .header-title-container {
    display: flex;

    .single-course-meta {
      max-width: 300px;
      min-width: 300px;
      width: 100%;
      background: #fff;
      margin: auto 0 auto auto;
      padding: 1em;
      border: 1px solid rgba(0,0,0,0.1);
      box-shadow: 0 1px 0 0 rgba(0,0,0,0.15);
      border-radius: 4px;
    }
    .meta-author {
      .avatar {
        border-radius: 50%;
        vertical-align: bottom;
        margin-right: 0.5em;
      }
      .author-label {
        vertical-align: super;
        color: $color__secondary;
      }
    }

    .meta-datas {
      .meta-label {
        color: $color__secondary;
      }
    }

    .meta-categories {
      margin-top: 0.5em;

      [rel="tag"] {
        background: rgba(0,0,0,0.1);
        margin: 0 0.2em 0.4em 0;
        color: rgba(0,0,0,0.6);
        @include transition;
        padding: 0.2em 0.4em;
        display: inline-block;
        font-size: 13px;

        &:hover {
          background: rgba(0,0,0,0.2);
        }
      }
    }
  }
}
