#my-courses .post.course {
  border-bottom: 0;
  background: #fff;
  padding: 15px 15px 25px 15px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.05);
  margin-bottom: 1em;

  .thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
  }
  .meter {
    position: absolute;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.15);
  }
  .sensei-course-meta {
    margin: 0;
  }
  .course-lesson-progress::before {
    display: inline-block;
    content: '-';
    padding-right: 0.5em;
  }
  .sensei-results-links {
    margin: 0;
  }
}