.blog, .author, .archive, .category {
  .primary-header {
    display: flex;
    margin: 2em 0;

    .header-thumbnail {
      border-radius: 50%;
      margin: auto 0;
      margin-right: 2em;
    }
    .primary-header-content {
      margin: auto 0;

      * {
        margin: 0;
      }
    }
  }

	.post {
		@include flexbox();
		flex-wrap: nowrap;
		margin: 1em 0;

		@media ( max-width: $media__medium ) {
			flex-wrap: wrap;
		}
		&:after {
			display: block;
			content: '';
			clear: both;
		}
		.post-thumbnail {
			min-width: 50%;
			max-width: 50%;
			padding-right: 2em;
			@media ( max-width: $media__medium ) {
				min-width: 100%;
				max-width: 100%;
			}
		}
		.post-content {
			width: 100%;

			.entry-header .entry-title {
				margin: 0;
			}
			.entry-content {
				margin-top: 0.2em;
			}
		}
	}
}

/** Catégories */
#primary .post-categories .post-categorie {
	display: inline-block;
	padding: 0.2em 0.6em;
	margin: 0.2em 0;
	background: #ececec;
	color: rgba(0,0,0,0.6);
	transition: all 0.2s ease-out;
	border-radius: 4px;

	&:hover {
		background: darken(#ececec, 10%);
	}
}
