.wp-block-pullquote.is-style-default {
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 4px;
}

.wp-block-quote.is-style-default {
	border-left: 4px solid $color__primary;
	margin: 0;
	padding-left: 1em;

	cite {
		font-size: 12px;
	}
}
