/*--------------------------------------------------------------
# Mobile Menu
--------------------------------------------------------------*/
#burger-menu {
	opacity: 0;
	pointer-events: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding-top: 4em;
	z-index: 9999;
	@include transition();
	transform: scale(1.1);

	.navigation-overlay {
		display: block;
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.9;
		background: $color__primary;
		z-index: -1;
	}
	.burger-container {
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		overflow-y: auto;

	}
	.close-burger {
		position: absolute;
		top: 1em;
		right: 1em;
		font-size: 28px;
		@include transition();
		color: rgba(255,255,255,1);
		&:hover {
			color: rgba(255,255,255,0.6);
			cursor: pointer;
		}
	}

	.menu {
		padding: 2em;
	}
	ul, li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.menu li a {
		color: rgba(255,255,255,1);
		@include transition();
		&:hover {
			color: rgba(255,255,255,0.4);
		}
	}

	// premier niveau
	.menu > li {
		margin-bottom: 1em;
		> a {
			@include font-size(1.5);
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	// second niveau
	.menu > li li {
		margin-bottom: 1em;
		> a {
			@include font-size(1.3);
			font-weight: 700;
		}
	}
	// troisieme niveau
	.menu > li li li {
		margin-bottom: 0;
		> a {
			@include font-size(0.9);
			font-weight: 400;
		}
	}

	// Sous Menus générales
	.sub-menu {
		margin-left: 1em;
		padding-left: 1em;
		border-left: 1px dotted rgba(255,255,255,0.8);
	}
}
