/*--------------------------------------------------------------
# Markup
--------------------------------------------------------------*/

body {
  margin: 0;

  * {
    box-sizing: border-box;
  }
}

img {
  height: auto;
}

a {
  text-decoration: none;
}

ul, ol {
  padding-left: 1.2em;
}

figure {
  margin: 0;
}

button {
  box-shadow: none;
  border-style: solid;

  &:hover {
    cursor: pointer;
  }
}

form {
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  input[type="tel"],
  input[type="range"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="color"],
  select,
  textarea {
    width: 100%;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: .6em;
  }
  input[type="submit"] {
    display: inline-block;
    width: auto;
    background: var(--wp--preset--color--galaxy);
    color: var(--wp--preset--color--white);
    border: 0;
    padding: 0.7em 1.2em;
    border-radius: 4px;
    font-size: var(--wp--preset--font-size--normal);
    box-shadow: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    word-break: break-word;
    box-sizing: border-box;
  }
}
