$color__background-body: #fff;
$color__title-main: #1f1f1f;
$color__text-main: #2b2b2b;

$color__primary: #0e6eff;
$color__primary-text: #fff;

$color__secondary: #8a97ab;

//$color__background-pastel: rgba(152,166,195,0.1);
$color__background-pastel: #f4f6f9;
$color__green: #1fc588;
$color__dark: #333333;
$color__grey: #dcdcdc;
