body.sensei_message .message-container {
  @extend .gridlayout;
  @extend .gridlayout.grid-3;
  @extend .gridlayout.grid-gap-2;

  .sensei_message {
    margin: 0;
    border: 1px solid rgba(0,0,0,0.2);

    .message-content {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    h2 {
      display: block;
      font-size: 20px;
      margin: 0;
      padding: 1em 1.5em 0 1.5em;

      a {
        color: $color__title-main;
        @include transition;

        &:hover {
          color: $color__primary;
        }
      }
    }
    .entry {
      display: block;
      padding: 0.5em 1.5em 1em 1.5em;

      .message-excerpt {
        margin: 0;
      }
    }
    .message-meta {
      display: block;
      margin: auto 0 0 0;
      background: rgba(0,0,0,0.05);
      padding: 0.5em 1.5em;
      font-size: 14px;
      color: rgba(0,0,0,0.7);
    }
  }
}
