body.course-results .course-results {
  border-bottom: 0;
}

body.course-results .lesson-result {
  .lesson-title {
    @extend .h2-size;
    margin-bottom: 0.6em;
  }
  .result-container {
    @extend .beflex-box;
    margin-bottom: 1em;

    .result-module-title {
      font-size: 1.1em;
      font-weight: 600;
    }
    .result-line {
      display: flex;
      padding: 0.4em 0;
      border-bottom: 1px solid rgba(0,0,0,0.1);

      &:last-child {
        border-bottom: 0;
      }

      a {
        color: rgba(0,0,0,0.8);
        @include transition;

        &:hover {
          color: $color__primary;
        }
      }
      .lesson-grade {
        margin-left: auto;
        font-weight: 700;
      }
    }
  }
  .total-grade {
    text-align: center;
    font-size: 32px;

    .lesson-grade {
      font-weight: 700;
    }
  }
}
