/**
 * Style CSS de bfs-course-time
*/
.bfs-course-time {
  color: rgba(0,0,0,0.6);
  font-size: 14px;

  .bfs-course-time__icon {
    width: 14px;
    vertical-align: text-top;
  }
  span {
    vertical-align: text-bottom;
  }
}
