#colophon {
	background: #f7f7f7;
	padding: 2em 0;
	font-size: 14px;

	.sidebar {
		* {
			margin: 0;
		}
		.widget-title {
			font-size: 20px;
			margin-bottom: 0.8em;
		}
	}
}

#colophon #boxfoot {
	margin-bottom: 1em;
}
