/*
Sensei style
*/
/*--------------------------------------------------------------
# Template
--------------------------------------------------------------*/
.sensei-course-filters {
  display: none;
}

.sensei-ordering {
  display: none;
}

.post.course {
  border-bottom: 0;
}
.post.course .entry {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.post.course .course-thumbnail img {
  display: block;
  float: none;
  width: 100%;
  margin-bottom: 0;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.post.course .course-thumbnail img:hover {
  opacity: 0.8;
}
.post.course .course-content-container {
  padding: 1em;
}
.post.course .course-tax {
  line-height: 1;
}
.post.course .course-tax a {
  margin-left: 0.8em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.post.course .course-tax a:hover {
  opacity: 0.6;
}
.post.course .course-tax a:first-child {
  margin-left: 0;
}
.post.course .course-title {
  line-height: 1;
}
.post.course .course-title a {
  color: var(--wp--preset--color--black);
  font-size: 18px;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.post.course .course-title a:hover {
  opacity: 0.6;
}
.post.course .course-meta {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  margin: 1em 0 0 0;
}
.post.course .course-meta > * {
  display: inline-block;
  margin-left: 1em;
}
.post.course .course-meta > *:first-child {
  margin-left: 0;
}
.post.course .course-completion {
  display: block;
  position: relative;
  width: 100%;
  height: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.post.course .course-completion.progress-0 {
  background: #fff;
}
.post.course .course-completion .course-progress-bar {
  position: absolute;
  left: 0;
  height: 100%;
  background: var(--wp--preset--color--vivid-green-cyan);
}

body.learner-profile .wp-site-blocks > * + *, body.learner-archive-message .wp-site-blocks > * + *, body.single-sensei_message .wp-site-blocks > * + * {
  margin-top: 0 !important;
}
body.learner-profile .profile-setting h2, body.learner-profile .profile-setting #learner-info, body.learner-archive-message .profile-setting h2, body.learner-archive-message .profile-setting #learner-info, body.single-sensei_message .profile-setting h2, body.single-sensei_message .profile-setting #learner-info {
  display: none;
}
body.learner-profile .my-messages-link-container, body.learner-archive-message .my-messages-link-container, body.single-sensei_message .my-messages-link-container {
  display: none;
}
body.learner-profile .wp-block-spacer, body.learner-archive-message .wp-block-spacer, body.single-sensei_message .wp-block-spacer {
  display: none;
}
body.learner-profile article.post:not(.course), body.learner-archive-message article.post:not(.course), body.single-sensei_message article.post:not(.course) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
}
body.learner-profile article.post:not(.course) .profile-sidebar, body.learner-archive-message article.post:not(.course) .profile-sidebar, body.single-sensei_message article.post:not(.course) .profile-sidebar {
  width: 30%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
body.learner-profile article.post:not(.course) #learner-container, body.learner-archive-message article.post:not(.course) #learner-container, body.single-sensei_message article.post:not(.course) #learner-container {
  width: 70%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  background: rgba(0, 0, 0, 0.05);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
body.learner-profile #learner-container, body.learner-archive-message #learner-container, body.single-sensei_message #learner-container {
  padding: 0 10% 2em 2em;
}

.profile-box {
  background: #fff;
  border-radius: 6px;
  padding: 1em;
  margin-bottom: 1em;
}
.profile-box .box-line {
  margin-bottom: 0.6em;
}
.profile-box .box-line:last-child {
  margin-bottom: 0;
}
.profile-box .box-line strong {
  display: inline-block;
  min-width: 100px;
}

body.learner-profile .post.course {
  background: #fff;
  padding-bottom: 0;
}
body.learner-profile .post.course .entry {
  border: 0;
}
body.learner-profile .post.course .course-author, body.learner-profile .post.course .course-excerpt {
  display: none;
}
body.learner-profile .post.course .thumbnail {
  margin-bottom: 0;
}
body.learner-profile .post.course .meter {
  margin: 0;
  border-radius: 0;
}
body.learner-profile .post.course .meter .value {
  border-radius: 0;
}

.profile-sidebar .profile-sidebar-content {
  margin-left: 250px;
  padding-top: 2em;
  padding-right: 4em;
}
.profile-sidebar .profile-sidebar-content svg {
  max-width: 12px;
}
.profile-sidebar .profile-nav {
  display: block;
  color: #000;
  font-size: 14px;
  margin-bottom: 1.5em;
}
.profile-sidebar .profile-nav svg {
  margin-right: 0.4em;
}
.profile-sidebar .profile-nav.spacer {
  margin-top: 3em;
}
.profile-sidebar .profile-nav-active, body.sensei.learner-archive-message .profile-sidebar .nav-messages, body.sensei.learner-profile .profile-sidebar .nav-courses {
  background: var(--wp--preset--color--primary);
  color: #fff;
  padding: 0.6em 1em;
  border-radius: 6px;
}
.profile-sidebar .profile-nav-active svg, body.sensei.learner-archive-message .profile-sidebar .nav-messages svg, body.sensei.learner-profile .profile-sidebar .nav-courses svg {
  fill: #fff;
}

body.learner-archive-message .archive-header {
  display: none;
}
body.learner-archive-message .message-container a {
  padding: 1em 1.5em;
  background: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}
body.learner-archive-message .message-container a:hover {
  background: rgba(0, 0, 0, 0.05);
}
@media (max-width: 599px) {
  body.learner-archive-message .message-container a {
    display: block;
  }
}
body.learner-archive-message .message-container a:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
body.learner-archive-message .message-container a:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 0;
}
body.learner-archive-message .message-container a .message-title {
  font-weight: 700;
}
body.learner-archive-message .message-container a .message-data-container {
  margin-left: auto;
  min-width: 200px;
  text-align: right;
}
body.learner-archive-message .message-container a .message-data-container .message-data {
  opacity: 0.6;
  margin-left: 0.5em;
}
body.learner-archive-message .message-container a .message-data-container .message-data svg {
  max-width: 12px;
}

body.single-sensei_message .wp-block-post-title {
  display: none;
}
body.single-sensei_message .message-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.6em 0 0 0;
}
body.single-sensei_message .message-header a {
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 30px;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  margin-right: 0.5em;
}
body.single-sensei_message .message-header a svg {
  width: 20px;
}
body.single-sensei_message .message-header a:hover {
  opacity: 0.7;
}
body.single-sensei_message .message-header .message-title {
  margin: 0;
}
body.single-sensei_message .comment-respond .comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}
body.single-sensei_message .comment-respond .comment-form .comment-form-comment {
  width: 100%;
}
body.single-sensei_message .comment-respond .comment-form textarea {
  display: block;
  width: 100%;
  background: #fff;
  padding: 1em;
  border-radius: 6px;
  font-family: var(--wp--preset--font-family--open-sans);
}
body.single-sensei_message .comment-respond .comment-form .form-submit {
  margin: auto;
}
body.single-sensei_message .comment-respond .comment-form #submit {
  border: 1px solid var(--wp--preset--color--primary);
  color: var(--wp--preset--color--primary);
  border-radius: 6px;
  margin: auto 0 auto 1em;
  padding: 1em;
  min-width: 120px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: none;
}
body.single-sensei_message .comment-respond .comment-form #submit:hover {
  background: var(--wp--preset--color--primary);
  color: #fff;
}
body.single-sensei_message .message-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5em 0;
}
body.single-sensei_message .message-comment .avatar {
  border-radius: 50%;
  margin: auto 1.5em auto 0;
}
body.single-sensei_message .message-comment .comment-container {
  background: #fff;
  width: 100%;
  padding: 1.2em;
  border-radius: 6px;
}
body.single-sensei_message .message-comment .comment-container .comment-meta {
  margin-top: 1.5em;
}
body.single-sensei_message .message-comment .comment-container .comment-meta .message-data {
  opacity: 0.6;
  margin-left: 0.5em;
  font-size: 14px;
}
body.single-sensei_message .message-comment .comment-container .comment-meta svg {
  margin-right: 0.3em;
  max-width: 14px;
}
body.single-sensei_message .message-comment.message-author .avatar {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin: auto 0 auto 1.5em;
}
body.single-sensei_message .message-comment.message-author .comment-container {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  background: var(--wp--preset--color--primary);
  color: #fff;
}
body.single-sensei_message .message-comment.message-author .comment-container svg {
  fill: #fff;
}

#my-courses .col2-set {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em 2em;
}
@media (max-width: 599px) {
  #my-courses .col2-set {
    grid-template-columns: repeat(1, 1fr);
  }
}
#my-courses .col-2 {
  background: var(--wp--preset--color--light-grey);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
}
#my-courses .col-2 .col2-set {
  grid-gap: 0 1em;
}
#my-courses .col-2 h2 {
  margin: 0;
}
#my-courses .col-2 .required {
  color: red;
}

body.sensei-template-old .site-header > .header-sticky > .wp-block-group > .wp-block-group {
  max-width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
body.sensei-template-old .wp-block-sensei-lms-course-list-filter {
  display: none !important;
}

.header-course.wp-block-template-part .wp-block-post-featured-image img {
  border-radius: 6px;
}

.wp-block-query .wp-block-post.course {
  border-bottom: 0;
}
.wp-block-query .wp-block-post.course .wp-block-post-featured-image {
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.wp-block-query .wp-block-post.course .wp-block-post-featured-image:hover {
  opacity: 0.8;
}
.wp-block-query .wp-block-post.course .wp-block-post-title {
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.wp-block-query .wp-block-post.course .wp-block-post-title:hover {
  opacity: 0.6;
}

/*--------------------------------------------------------------
## Block outline
--------------------------------------------------------------*/
.wp-block-sensei-lms-course-outline.is-style-beflex .wp-block-sensei-lms-course-outline-module,
.wp-block-sensei-lms-course-outline-module.is-style-beflex {
  background: var(--wp--preset--color--light-grey);
  border-color: rgba(0, 0, 0, 0.2) !important;
}
.wp-block-sensei-lms-course-outline.is-style-beflex .wp-block-sensei-lms-course-outline-module .wp-block-sensei-lms-course-outline-module__header,
.wp-block-sensei-lms-course-outline-module.is-style-beflex .wp-block-sensei-lms-course-outline-module__header {
  background-color: transparent !important;
  color: var(--wp--preset--color--anthracite) !important;
}
.wp-block-sensei-lms-course-outline.is-style-beflex .wp-block-sensei-lms-course-outline-module .wp-block-sensei-lms-course-outline-module__description,
.wp-block-sensei-lms-course-outline-module.is-style-beflex .wp-block-sensei-lms-course-outline-module__description {
  padding: 0 16px 16px 16px;
  font-size: 14px;
}
.wp-block-sensei-lms-course-outline.is-style-beflex .wp-block-sensei-lms-course-outline-module .wp-block-sensei-lms-course-outline-module__lessons-title,
.wp-block-sensei-lms-course-outline-module.is-style-beflex .wp-block-sensei-lms-course-outline-module__lessons-title {
  background: none;
}
.wp-block-sensei-lms-course-outline.is-style-beflex .wp-block-sensei-lms-course-outline-module .wp-block-sensei-lms-course-outline-lesson > span,
.wp-block-sensei-lms-course-outline-module.is-style-beflex .wp-block-sensei-lms-course-outline-lesson > span {
  padding: 10px 16px;
}
.wp-block-sensei-lms-course-outline.is-style-beflex .wp-block-sensei-lms-course-outline-module .wp-block-sensei-lms-course-outline-lesson:last-child > span,
.wp-block-sensei-lms-course-outline-module.is-style-beflex .wp-block-sensei-lms-course-outline-lesson:last-child > span {
  padding-bottom: 16px;
}

.sensei-lms-course-navigation .sensei-lms-course-navigation-lesson.status-completed .sensei-lms-course-navigation-lesson__link {
  color: #0ec986;
}
.sensei-lms-course-navigation .sensei-lms-course-navigation-lesson.status-completed .sensei-lms-course-navigation-lesson__link:hover * {
  color: #0ec986;
}
.sensei-lms-course-navigation .sensei-lms-course-navigation-lesson.status-in-progress .sensei-lms-course-navigation-lesson__link {
  color: #e4612e;
}
.sensei-lms-course-navigation .sensei-lms-course-navigation-lesson.status-in-progress .sensei-lms-course-navigation-lesson__link:hover * {
  color: #e4612e;
}

.wp-block-query.query-course .wp-block-post .wp-block-post-featured-image {
  margin: 0;
}
.wp-block-query.query-course .wp-block-post .wp-block-sensei-lms-course-categories {
  margin: 0;
}
.wp-block-query.query-course .wp-block-post .wp-block-sensei-lms-course-categories a {
  background: none;
  text-transform: uppercase;
  color: var(--wp--preset--color--primary);
  font-weight: 700;
  font-size: 12px;
  padding: 0;
  margin-right: 6px;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.wp-block-query.query-course .wp-block-post .wp-block-sensei-lms-course-categories a span {
  color: var(--wp--preset--color--primary);
}
.wp-block-query.query-course .wp-block-post .wp-block-sensei-lms-course-categories a:hover {
  opacity: 0.7;
}
.wp-block-query.query-course .wp-block-post .sensei-progress-bar__label {
  display: none;
}