.beflex-call-to-action .call-to-container .call-to-block.-mode-box {
  border: 1px solid rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;

  .block-thumbnail {
    position: relative;
    background: #000;

    img {
      display: block;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.8;
      }
    }

    &.no-thumb {
      background: #fff;

      .block-categories {
        position: static !important;
        padding: 0 1.5em;
      }
    }
  }

  .block-categories {
    position: absolute;
    top: 1em;
    right: 1em;

    .block-categorie {
      background: #fff;
      padding: 0.3em 0.6em;
      font-size: 12px;
      font-weight: 700;
      margin-right: 0.4em;
      transition: all 0.2s ease-out;
      color: $color__primary;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .block-content {
    padding: 1.5em;

    a:not(.button) {
      color: rgba(0,0,0,0.9);
      transition: all 0.2s ease-out;

      &:hover {
        color: $color__primary;
      }
    }
    .block-title {
      font-size: 20px;
    }
  }

  .block-footer {
    background: rgba(0,0,0,0.05);
    padding: 0.5em 1.5em;
    display: flex;
    font-size: 14px;
    color: rgba(0,0,0,0.7);
    margin-top: auto;

    .course-length, .course-author {
      margin: auto 0;
    }
    .course-length {
      margin-right: 0.5em;
    }
    .course-author {
      .avatar {
        border-radius: 50%;
        vertical-align: text-top;
        margin-right: 0.2em;
      }
    }
  }
}