.wp-block-sensei-lms-lesson-actions {
  @extend .beflex-box;
  display: flex;
  justify-content: center;

  .wp-block-button__link {
    border-radius: 4px;
    background: $color__primary;
    border-color: $color__primary;
  }
  .wp-block-sensei-lms-button-complete-lesson .wp-block-button__link {
    background: $color__green;
    border-color: $color__green;
    border-radius: 4px;
  }
  .wp-block-sensei-lms-button-reset-lesson .wp-block-button__link {
    color: $color__primary;
  }
}
