#search-area {
  pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 490;
  backdrop-filter: blur(10px);
  opacity: 0;
  @include transition;

	.search-overlay {
		opacity: 0;
		@include transition();
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
		background: $color__primary;
		z-index: 500;
  }
	form {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transition();
		opacity: 0;
		transform: translate(-50%, -80%);
		z-index: 510;
		width: 80%;

		label {
			@include flexbox();
			flex-wrap: nowrap;
      background: #fff;
		}
		.search-icon {
			margin: auto;
			padding: 0.6em 0.6em 0.6em 2em;
			display: inline-block;
		}
		.fa-search {
			color: $color__title-main;
			font-size: 42px;
			@media ( max-width: $media__small ) {
				font-size: 18px;
			}
		}
		input {
			background: none;
			color: $color__title-main;
			border: 0;
			border-radius: 0;
			font-size: 50px;
			font-weight: 100;
			width: 100%;
			box-shadow: none;
			outline: none;
      padding-left: 0.2em;

			&:focus {
				outline: none;
			}
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: rgba(0,0,0,0.4);
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: rgba(0,0,0,0.4);
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: rgba(0,0,0,0.4);
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: rgba(0,0,0,0.4);
			}
			@media ( max-width: $media__medium ) {
				font-size: 32px;
			}
			@media ( max-width: $media__small ) {
				font-size: 18px;
				margin-right: 0.6em;
			}
		}
		@media ( max-width: $media__small ) {
			width: 100%;
		}
	}
}

.search-active #search-area {
	pointer-events: all;
  opacity: 1;

	.search-overlay {
		opacity: 0.8;
	}
	form {
		opacity: 1;
		transform: translate(-50%, -60%);
	}
}
