#main-navigation .beflex-mega-menu .beflex-mega-menu-container {
  > .sub-menu {
    // 1er niveau.
    > .menu-item {
      > a, > .menu-description {
        display: block;
        margin: 0;
        line-height: 1.4;
      }
      .menu-description {
        font-size: 14px;
        color: rgba(0,0,0,0.6);
      }
    }

    // 2eme niveau.
    > .menu-item > .sub-menu {
      > .menu-item > a {
        color: rgba(0,0,0,0.9);
      }
    }
  }
} 
