.bfs-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.bfs-login .bf-button__style-outline {
  background-color: transparent;
  padding: calc(0.6em - 2px) calc(1em - 2px);
  border: 2px solid;
}
.bfs-login .bf-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  font-size: var(--wp--preset--font-size--normal);
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  word-break: break-word;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.bfs-login .bf-button .bfs-login__icon, .bfs-login .bf-button .bfs-login__label {
  display: inline-block;
}
.bfs-login .bf-button .bfs-login__icon {
  width: 15px;
  margin-right: 6px;
}
.bfs-login .bf-button .bfs-login__icon.bfs-login__courses-icon {
  fill: var(--wp--preset--color--primary);
}
.bfs-login .bf-button .bfs-login__icon.bfs-login__login-icon {
  fill: var(--wp--preset--color--primary);
}