.wp-block-sensei-lms-course-outline-module {
  @extend .beflex-box;

  .wp-block-sensei-lms-course-outline-module__header {
    background: none !important;
    color: $color__title-main !important;
  }
  .wp-block-sensei-lms-course-outline-module__lessons-title {
    background: none !important;
  }
  .wp-block-sensei-lms-course-outline-module__description {
    color: rgba(0,0,0,0.5);
    padding-top: 0 !important;
  }

  .wp-block-sensei-lms-course-outline-module__progress-indicator.completed {
    background: $color__green !important;
    border: 0 !important;
    color: #fff !important;
  }

  .wp-block-sensei-lms-course-outline-lesson.completed {
    .wp-block-sensei-lms-course-outline-lesson__status {
      background: $color__green;
      border: 0;
      fill: #fff;
    }
  }
}
