.wp-block-sensei-lms-course-outline-module {
  border: 1px solid rgba(0,0,0,0.1);
  background: $color__background-pastel;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);

  .wp-block-sensei-lms-course-outline-module__header {
    background: none !important;
    color: $color__title-main;
  }
  .wp-block-sensei-lms-course-outline-module__lessons-title {
    background: none !important;
  }
  .wp-block-sensei-lms-course-outline-module__description {
    color: rgba(0,0,0,0.5);
    padding-top: 0 !important;
  }

  .wp-block-sensei-lms-course-outline-module__progress-indicator.completed {
    background: #1fc588 !important;
    border: 0 !important;
    color: #fff !important;
  }

  .wp-block-sensei-lms-course-outline-lesson.completed {
    .wp-block-sensei-lms-course-outline-lesson__status {
      background: #1fc588;
      border: 0;
      fill: #fff;
    }
  }
}
