.widget.widget_sensei_course_progress {
  background: $color__background-pastel;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
  border-radius: 4px;

  header {
    padding: 1em 1em 0 1em;
    text-align: center;

    .course-title {
      margin: 0;
      font-size: 18px;
      font-weight: 600;

      a {
        color: $color__title-main;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .course-progress-navigation {
    display: block;
    margin: 0;
    border-top: 0;
    background: none;
    text-align: center;

    .prev, .next {
      margin: 0 0.5em;
      border-bottom: 0;
      float: none;
      display: inline-block;
      width: auto;

      a {
        display: inline-block;
        background: none;
        transition: all 0.2s ease-out;
        border: 0;
        padding: 0;

        &::before, &::after {
          display: block;
          font-size: 12px;
          width: 26px;
          height: 26px;
          line-height: 26px;
          background: $color__secondary;
          color: #fff;
          border-radius: 50%;
          @include transition;
        }

        &:hover::before, &:hover::after {
          background: lighten($color__secondary, 10%);
        }
      }
    }
  }

  .course-progress-lessons {
    margin: 0;

    .course-progress-module {
      background: none;
      padding: 2em 1em 0 1em;
      border-bottom: 0;

      .module-title {
        margin: 0;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;

        a {
          color: $color__title-main;
        }
      }
    }

    .course-progress-lesson {
      span, a {
        background: none;
        border: 0;
        padding-left: 3.2em;
        font-weight: 400;
        color: $color__text-main;
        line-height: 1.6;

        &::before {
          left: 0.6em;
          font-family: 'Font Awesome 5 Pro',FontAwesomeSensei,FontAwesome;
          font-weight: 100;
          content: '\f111';
          color: $color__text-main;
        }
      }

      a:hover {
        background: rgba(0,0,0,0.05);
      }

      &.current {
        span {
          background: rgba(0,0,0,0.05);
        }
        span:before {
          content: '\f138';
        }
      }
      &.completed span::before, &.completed a::before {
        content: '\f058';
        font-weight: 900;
        color: #1fc588;
      }
    }
  }
}
