.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

#comments {
	ol, ul {
		list-style-type: none;
		margin: 0;
		li {
			margin-left: 0;
		}
	}
	.children {
		margin-left: 3em;
	}
}

#comments .comment-list {
	.comment-body {
		position: relative;
		margin: 1em 0;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.comment-reply-link {
		@extend .button;
		@extend .button.bordered;
		@extend .button.bordered.button-primary;
		position: absolute;
		top: 0;
		right: 0;
	}
	.says {
		display: none;
	}
	.comment-author img {
		border-radius: 50%;
	}
	.comment-author .fn {
		@include font-size(1.4);
		font-weight: 300;
	}
	.comment-metadata a {
		color: rgba(0,0,0,0.4);
		@include font-size(0.9);
	}
	.comment-metadata .comment-edit-link {
		color: $color__primary;
	}
}
